websocket-client~=1.5.1
requests~=2.29.0
tls-client
pypasser~=0.0.5
names
colorama
curl_cffi
streamlit==1.21.0
selenium~=4.9.0
fake-useragent
twocaptcha~=0.0.1
https://github.com/AI-Yash/st-chat/archive/refs/pull/24/head.zip
pydantic~=1.10.7
pymailtm~=1.1.1
Levenshtein~=0.21.0
bs4~=0.0.1
beautifulsoup4~=4.12.2
certifi~=2022.12.7
pymongo~=4.3.3
pandas~=1.5.3
numpy~=1.24.3
PyYAML~=6.0